/* 
* GK News Show Pro
*
* @version: 1.0.0
* @date: 22-03-2014
* @desc: Complex widget for displaying WordPress posts, WooCommerce products, XML/JSON file content and RSS feeds.
* @author: GavickPro 
* @email: info@gavick.com
*
*/
.activated .gk-nsp-ui .gk-loader {
  opacity: 0;
  filter: alpha(opacity=0);
}
.gk-nsp-ui {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.gk-nsp-ui .gk-loader {
  background: #ffffff url('images/loader.gif') no-repeat center center;
  height: 100%;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 1;
}
.gk-nsp-ui input.short {
  width: 32px;
}
.gk-nsp-ui input.short-right {
  text-align: right;
  width: 48px;
}
.gk-nsp-ui input.medium {
  width: 72px;
}
.gk-nsp-ui input.medium-right {
  text-align: right;
  width: 64px;
}
.gk-nsp-ui input.long {
  width: 120px;
}
.gk-nsp-ui p > label.long-text {
  font-size: 11px;
}
.gk-nsp-ui p > label.no-indent:first-child {
  min-width: 20px;
  width: auto;
}
.gk-nsp-ui p > label:first-child {
  display: inline-block;
  max-width: 90px;
  text-align: right;
  width: 90px;
}
.gk-nsp-ui .gk-right {
  display: none;
  float: right;
}
.gk-nsp-ui .gk-additional {
  float: right;
}
.gk-nsp-ui textarea {
  height: 90px;
  margin-left: 93px;
  margin-top: 10px;
  width: 75%;
}
.gk-nsp-ui .gk-filelist {
  margin-left: 98px;
}
.gk-nsp-ui big {
  display: block;
  margin: 18px 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 11px;
  line-height: 0;
}
.gk-nsp-ui big > span {
  background: #fff;
  padding: 0 10px 0 0;
}
.gk-nsp-ui .gk-article-element,
.gk-nsp-ui .gk-link-element {
  background: #fff;
  border: 1px solid #dfdfdf;
  cursor: move;
  margin: 0!important;
  padding: 6px!important;
}
.gk-nsp-ui .gk-article-element label,
.gk-nsp-ui .gk-link-element label {
  width: 70px!important;
}
.gk-nsp-ui .gk-article-element .gk-indent,
.gk-nsp-ui .gk-link-element .gk-indent {
  background: #eee;
  margin: 6px -6px -6px -6px;
  padding: 12px;
}
.gk-nsp-ui .gk-article-element + .gk-article-element,
.gk-nsp-ui .gk-link-element + .gk-article-element,
.gk-nsp-ui .gk-article-element + .gk-link-element,
.gk-nsp-ui .gk-link-element + .gk-link-element {
  border-top: none;
}
.gk-nsp-ui .gk-format-textarea {
  margin-top: -20px;
}
.gk-nsp-ui .gk-format-textarea + small {
  display: block;
  margin: 0 0 0 93px;
}
.gk-nsp-ui .tabs-panel {
  max-width: 190px;
  border-width: 1px;
  margin: 0 auto 10px auto;
  position: relative;
  left: 9px;
}
.gk-nsp-ui .tabs-panel .children {
  margin: 5px 0 0 20px;
}
.gk-nsp-ui input[type=checkbox] {
  margin: 8px 2px!important;
}
.gk-nsp-ui input[type=checkbox]:checked:before {
  margin: -9px 0 0 -8px;
}
.activated .gk-nsp-ui {
  max-height: inherit;
}
.gk-toggler {
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#f9f9f9));
  background-image: -webkit-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: -moz-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: -o-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: linear-gradient(to top, #ececec, #f9f9f9);
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  margin: 0 0 5px 0!important;
  padding: 7px 12px!important;
  position: relative;
}
.gk-toggler:after {
  border: 0;
  background: 0 0;
  content: '\f140';
  display: block;
  font: 400 20px/1 dashicons;
  margin-top: 4px!important;
  padding: 0;
  position: absolute;
  right: 7px;
  speak: none;
  text-indent: 0;
  text-align: center;
  top: 0;
}
.gk-toggler.active + .gk-toggle > div {
  margin-top: 0!important;
  opacity: 1;
  filter: alpha(opacity=100);
}
.gk-toggle {
  overflow: hidden;
}
.gk-toggle > div {
  background: #fff;
  margin-top: -700px;
  padding: 8px 12px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* WordPress 3.8+ CSS adjustments */
.wp-admin .gk-nsp-ui,
body.wp-customizer .gk-nsp-ui {
  margin: 0 -10px;
  padding: 0 0 15px 0;
  width: auto;
}
.wp-admin .gk-nsp-ui label,
body.wp-customizer .gk-nsp-ui label {
  line-height: 15px;
  vertical-align: text-bottom;
}
.wp-admin .gk-nsp-ui label,
body.wp-customizer .gk-nsp-ui label,
.wp-admin .gk-nsp-ui input,
body.wp-customizer .gk-nsp-ui input,
.wp-admin .gk-nsp-ui select,
body.wp-customizer .gk-nsp-ui select {
  font-size: 11px!important;
}
.wp-admin .gk-nsp-ui input,
body.wp-customizer .gk-nsp-ui input {
  padding: 6px 4px!important;
}
.wp-admin .gk-nsp-ui input.button,
body.wp-customizer .gk-nsp-ui input.button {
  padding: 0 6px!important;
}
.wp-admin .gk-nsp-ui textarea,
body.wp-customizer .gk-nsp-ui textarea {
  margin-left: 105px;
  width: 71%;
}
.wp-admin .gk-nsp-ui .gk-filelist,
body.wp-customizer .gk-nsp-ui .gk-filelist {
  margin-left: 98px;
}
.wp-admin .gk-nsp-ui .gk-format-textarea + small,
body.wp-customizer .gk-nsp-ui .gk-format-textarea + small {
  margin: 0 0 0 105px;
}
.wp-admin .gk-nsp-ui p > label:first-child,
body.wp-customizer .gk-nsp-ui p > label:first-child {
  max-width: 100px;
  padding-right: 5px;
  width: 100px;
}
.wp-admin .gk-nsp-ui .gk-article-element > .gk-indent,
body.wp-customizer .gk-nsp-ui .gk-article-element > .gk-indent {
  padding: 1px;
}
.wp-admin .gk-toggle > div,
body.wp-customizer .gk-toggle > div {
  margin-top: -800px !important;
}
.wp-admin .gk-toggler,
body.wp-customizer .gk-toggler {
  background: #fafafa;
  background-image: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 5px 0!important;
}
.wp-admin .gk-toggler:after,
body.wp-customizer .gk-toggler:after {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* Widget Customizer adjustments */
.wp-customizer .gk-nsp-ui select {
  min-width: inherit;
}
.wp-customizer .gk-nsp-ui input[type=text] {
  width: 50px;
}
.wp-customizer .gk-nsp-ui input[type=text].long {
  width: 150px;
}
.wp-customizer .gk-nsp-ui .gk-media-input {
  width: auto!important;
}
.wp-customizer .gk-cols2 > span {
  line-height: 2;
}
