/* 
* GK News Show Pro
*
* @version: 1.0.0
* @date: 22-03-2014
* @desc: Complex widget for displaying WordPress posts, WooCommerce products, XML/JSON file content and RSS feeds.
* @author: GavickPro 
* @email: info@gavick.com
*
*/
/* GK NSP Highlighter */
.gk-nsp-highlighter {
  display: table;
  position: relative;
  width: 100%;
}
.gk-nsp-highlighter > strong,
.gk-nsp-highlighter > .gk-nsp-highligher-items-wrap {
  display: table-cell;
  vertical-align: top;
}
.gk-nsp-highlighter > strong {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  line-height: 55px;
  padding: 0 0 0 45px;
  width: 2%;
}
.gk-nsp-highlighter > .gk-nsp-highligher-items-wrap {
  height: 55px;
  padding: 0 95px 0 25px;
}
.gk-nsp-highlighter > .gk-nsp-highligher-items-wrap ol {
  display: block;
  height: 55px;
  margin: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.gk-nsp-highlighter > .gk-nsp-highligher-items-wrap ol li {
  border: none;
  height: 55px;
  line-height: 55px;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.gk-nsp-highlighter > .gk-nsp-highligher-items-wrap ol li a {
  display: block;
  height: 55px;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.gk-nsp-highlighter > .gk-nsp-highligher-items-wrap ol li.active {
  opacity: 1;
}
.gk-nsp-highlighter .gk-nsp-highlighter-ui {
  position: absolute;
  right: 20px;
}
.gk-nsp-highlighter .gk-nsp-highlighter-ui a:first-child {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  float: left;
  height: 24px;
  margin: 14px 0 0 5px;
  position: relative;
  width: 26px;
}
.gk-nsp-highlighter .gk-nsp-highlighter-ui a:first-child:before {
  color: #949494;
  content: "\f104";
  font-family: FontAwesome;
  font-size: 16px;
  left: 10px;
  line-height: 15px;
  position: absolute;
  top: 5px;
}
.gk-nsp-highlighter .gk-nsp-highlighter-ui a:first-child:hover:before {
  color: #eb1e00;
}
.gk-nsp-highlighter .gk-nsp-highlighter-ui a:first-child + a {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  float: left;
  height: 24px;
  margin: 14px 0 0 5px;
  position: relative;
  width: 26px;
}
.gk-nsp-highlighter .gk-nsp-highlighter-ui a:first-child + a:before {
  color: #949494;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  left: 10px;
  line-height: 15px;
  position: absolute;
  top: 5px;
}
.gk-nsp-highlighter .gk-nsp-highlighter-ui a:first-child + a:hover:before {
  color: #eb1e00;
}
@media (max-width: 800px) {
  .gk-nsp-highlighter > strong {
    padding: 0 0 0 20px;
  }
  .gk-nsp-highlighter > .gk-nsp-highligher-items-wrap {
    padding: 0 95px 0 12px;
  }
}
@media (max-width: 600px) {
  .gk-nsp-highlighter > strong {
    padding: 0 0 0 10px;
  }
  .gk-nsp-highlighter > .gk-nsp-highligher-items-wrap {
    padding: 0 12px;
  }
  .gk-nsp-highlighter .gk-nsp-highlighter-ui {
    display: none;
  }
}
